


.location{
    color: white;
    width: 100%;
    background-color: #0b1e26;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-direction: column;
}


.location h2{
    text-align: center;
    font-size: 25px;
}

.planet_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: center;
    gap: 1em;
    height: 60%;
    text-align: center;
    width: 80%;
}

.planet_info li{
    height: 100%;
    width: 30%;
    background-color: rgb(255, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5em;
    border-radius: 20px;
    opacity:60%;
}


.planet_info li {
    
    
    border-radius: 1rem;
    border: #212121 0.2rem solid;
    transition: all 0.4s ease-in;
    box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
   }
   
   .planet_info li:hover {
    transform: translateY(-1.5rem);
    border: var(--hoverCards) 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0;
    opacity: 80%;
   }


   .location .fa-solid{
    margin-bottom: 10px;
    color: white;
    font-size: 35px;

   }



   @media only screen and (min-width: 800px) {
    
    .location{
        gap: 0.5em;
        flex-direction: row;
    }
    
    
    .location h2{
        text-align: center;
        font-size: 45px;
        width: 50%;
    }
    
    .planet_info{
        font-size: 20px;
        height: 80%;
        width: 50%;
        gap: 1em;
    }

    .planet_info li {
      
        width: 30%;
      }

      .location .fa-solid{
        margin-bottom: 10px;
        color: white;
        font-size: 65px;
       }

  }

