@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style:none
}


:root{
    --mainColor: #0b2530;
    --hoverCards: #919191;
}


*::-webkit-scrollbar {
    width: 8px;
   
 }
 
 *::-webkit-scrollbar-thumb {
 background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    border-radius: 10px;
 }

body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--mainColor);
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    min-height: 100vh;
    width: 100%;
}


.card_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.banner{
    width: 100%;
    
}



.banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;    
    max-height: 500px
}


.card_container{
    margin-bottom: 40px;
    padding: 0 10px
}


.seach_bar{
    margin: 20px 0;
}

h1{
    margin: 20px 0 0 0;
    font-size: 140px;
    font-weight: 900;
    color: white;
    text-shadow: 3px 3px #67c65f;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 3px;
    display:flex;    
    align-self: center;
    text-align: center;
    margin: 0 20px;
}



@media only screen and (max-width: 900px){
    .banner{
        display: none;
    }
    h1{
        margin: 60px 0 0 0;
        font-size: 50px;
        font-weight: 900;
        color: white;
        text-shadow: 3px 3px #67c65f;
    }
    .card_container{
        margin-bottom: 60px;
    }
}